p {
  font-size: 23px;
}

.navigation ul {
  list-style: none;
  display: flex;
}
@font-face {
  font-family: "Menlo Font"; /*Can be any text*/
  src: local("AirbnbCerealMenloFont"),
    url("./Fonts/menlo-cufonfonts/Menlo-Regular.ttf") format("truetype");
}
.container {
  font-family: "Menlo Font";
  font-size: 20px;
  letter-spacing: 0px;
}
.container h1 {
  font-size: 2.4em;
  font-weight: 10px;
}
button {
  letter-spacing: 0px;
}
.ftr {
  background-color: #f5b4b1;
}
.navStyle:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #e63732;
}
.read-or-hide {
  color: blue;
}
@media only screen and (max-width: 600px) {
  .container {
    font-size: 18px;
  }
  .container h1 {
    font-size: 1.5em;
    font-weight: 8px;
  }
  button {
    letter-spacing: 1px;
  }
}
.fullScreenHover:hover {
  text-decoration: underline;
  text-decoration-color: #e63732;
  text-underline-offset: 4px;
}
textarea {
  width: 100%;
  height: 150px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: initial;
}
a:hover:-webkit-any-link {
  color: initial;
}
@keyframes modalFade {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animatemodal {
  animation-name: modalFade;
  animation-duration: 1s;
}
@keyframes modalFadeEnq {
  from {
    transform: translate(0%) scale(0%);

    /* opacity: 0; */
  }
  to {
    transform: translateY(0) scale(100%);
    /* opacity: 1; */
  }
}
.animatemodalEnquire {
  animation-name: modalFadeEnq;
  animation-duration: 0.3s;
}

/* .modal-dialog {
  transition-duration: 2s !important;
} */
